<a href="https://colab.research.google.com/github/rimjhim456/Task2/blob/main/Copy_of_Preprocessing_steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data wrangling steps
## filling null
## duplicates
## dropnull
## rename
## add new column
## sorting

In [ ]:
import numpy as np
import pandas as pd
data={
    "Name":["rimjhim","akanksha","gargi","vishal","prince","ankit","bablu"],
    "Age":[15,None,14,15,16,14,None],
    "City":["hyderabad","kudra","vanaras","patna","sasram","meerut","delhi"],
    "salary":[80000,None,45000,50000,90000,80000,600000]

}
df=pd.DataFrame(data)
print(df)

       Name   Age       City    salary
0   rimjhim  15.0  hyderabad   80000.0
1  akanksha   NaN      kudra       NaN
2     gargi  14.0    vanaras   45000.0
3    vishal  15.0      patna   50000.0
4    prince  16.0     sasram   90000.0
5     ankit  14.0     meerut   80000.0
6     bablu   NaN      delhi  600000.0

In [ ]:
df.isnull()

    Name    Age   City  salary
0  False  False  False   False
1  False   True  False    True
2  False  False  False   False
3  False  False  False   False
4  False  False  False   False
5  False  False  False   False
6  False   True  False   False

In [ ]:
df['Age']= df['Age'].fillna(df['Age'].mean())
df['City']=df['City'].fillna('hyderabad')
print(df)

       Name   Age       City    salary
0   rimjhim  15.0  hyderabad   80000.0
1  akanksha  14.8      kudra       NaN
2     gargi  14.0    vanaras   45000.0
3    vishal  15.0      patna   50000.0
4    prince  16.0     sasram   90000.0
5     ankit  14.0     meerut   80000.0
6     bablu  14.8      delhi  600000.0

In [ ]:
df0 = df.dropna(subset=['salary'])
print(df0)

      Name   Age      City    salary
0  rimjhim  15.0  hydrabad   80000.0
2    gargi  14.0   vanaras   45000.0
3   vishal  15.0     patna   50000.0
4   prince  16.0    sasram   90000.0
5    ankit  14.0    meerut   80000.0
6    bablu  14.8     delhi  600000.0

In [ ]:
df1 = df.drop_duplicates()
print(df1)

       Name   Age       City    salary
0   rimjhim  15.0  hyderabad   80000.0
1  akanksha  14.8      kudra       NaN
2     gargi  14.0    vanaras   45000.0
3    vishal  15.0      patna   50000.0
4    prince  16.0     sasram   90000.0
5     ankit  14.0     meerut   80000.0
6     bablu  14.8      delhi  600000.0

In [ ]:
df = df.rename(columns={"Name": "Employee_Name", "Age": "Employee_Age"})
df = df.rename(columns={"salary": "Employee_salary"})
df = df.rename(columns={"City": "Employee_City"})
print(df)

  Employee_Name  Employee_Age Employee_City  Employee_salary
0       rimjhim          15.0     hyderabad          80000.0
1      akanksha          14.8         kudra              NaN
2         gargi          14.0       vanaras          45000.0
3        vishal          15.0         patna          50000.0
4        prince          16.0        sasram          90000.0
5         ankit          14.0        meerut          80000.0
6         bablu          14.8         delhi         600000.0

In [ ]:
df_filtered=df[df['Employee_Age'] > 15]
df_filtered=df[df['Employee_salary'] > 50000]
print(df_filtered)

  Employee_Name  Employee_Age Employee_City  Employee_salary
0       rimjhim          15.0     hyderabad          80000.0
4        prince          16.0        sasram          90000.0
5         ankit          14.0        meerut          80000.0
6         bablu          14.8         delhi         600000.0

In [ ]:
df = df.sort_values(by='Employee_salary', ascending=False)
print(df)

  Employee_Name  Employee_Age Employee_City  Employee_salary
6         bablu          14.8         delhi         600000.0
4        prince          16.0        sasram          90000.0
5         ankit          14.0        meerut          80000.0
0       rimjhim          15.0     hyderabad          80000.0
3        vishal          15.0         patna          50000.0
2         gargi          14.0       vanaras          45000.0
1      akanksha          14.8         kudra              NaN