<a href="https://colab.research.google.com/github/rimjhim456/Task2/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
sales_missing = pd.DataFrame({
    'OrderID': [101,102,103,104,105],
    'Product': ['Laptop','Mobile','Tablet',None,'headphone'],
    'quantity': [2,np.nan,5,3,1],
    'price': [50000,20000,15000,30000,np.nan],
    'city': ['Delhi','mumbai','chennai',np.nan,'varansi']

    })
df=pd.DataFrame(sales_missing)
print(df)

   OrderID    Product  quantity    price     city
0      101     Laptop       2.0  50000.0    Delhi
1      102     Mobile       NaN  20000.0   mumbai
2      103     Tablet       5.0  15000.0  chennai
3      104       None       3.0  30000.0      NaN
4      105  headphone       1.0      NaN  varansi

In [8]:
df.isnull()

   OrderID  Product  quantity  price   city
0    False    False     False  False  False
1    False    False      True  False  False
2    False    False     False  False  False
3    False     True     False  False   True
4    False    False     False   True  False

In [10]:
df['price']= df['price'].fillna(df['price'].mean())
df['city']=df['city'].fillna('mumbai')
print(df)

   OrderID    Product  quantity    price     city
0      101     Laptop       2.0  50000.0    Delhi
1      102     Mobile       NaN  20000.0   mumbai
2      103     Tablet       5.0  15000.0  chennai
3      104       None       3.0  30000.0   mumbai
4      105  headphone       1.0  28750.0  varansi

In [11]:
df1 = df.drop_duplicates()
print(df1)

   OrderID    Product  quantity    price     city
0      101     Laptop       2.0  50000.0    Delhi
1      102     Mobile       NaN  20000.0   mumbai
2      103     Tablet       5.0  15000.0  chennai
3      104       None       3.0  30000.0   mumbai
4      105  headphone       1.0  28750.0  varansi

In [13]:
sales_missing.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [14]:
df = df.rename(columns={"Products": "Items", "city": "purchase place"})

print(df)

   OrderID    Product  quantity    price purchase place
0      101     Laptop       2.0  50000.0          Delhi
1      102     Mobile       NaN  20000.0         mumbai
2      103     Tablet       5.0  15000.0        chennai
3      104       None       3.0  30000.0         mumbai
4      105  headphone       1.0  28750.0        varansi

In [16]:
df = df.sort_values(by='price', ascending=False)
print(df)

   OrderID    Product  quantity    price purchase place
0      101     Laptop       2.0  50000.0          Delhi
3      104       None       3.0  30000.0         mumbai
4      105  headphone       1.0  28750.0        varansi
1      102     Mobile       NaN  20000.0         mumbai
2      103     Tablet       5.0  15000.0        chennai

In [17]:

df_filtered=df[df['price'] > 30000]
print(df_filtered)

   OrderID Product  quantity    price purchase place
0      101  Laptop       2.0  50000.0          Delhi